.App {
  text-align: center;
  padding: 20px;
}

.issue-form, .issue-list {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px auto;
  width: 80%;
  border-radius: 5px;
}

.issue-item {
  border: 2px solid #ccc;
  /* padding: 15px; */
  margin: 0 auto;
  width: 80%;
  border-radius: 5px;
}

.issue-form input, .issue-form textarea {
  width: 100%;
  padding: 8px 0;
  margin: 5px 0;
}

.issue-form button {
  padding: 10px 20px;
}

.issue-header {
  cursor: pointer;
}

.issue-details {
  text-align: left;
}

.issue-details button {
  margin-right: 10px;
}

.desc {
  text-align: center;
  margin: 0 auto;
}

h3 {
  margin: 5px 0;
}
